html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
}

#root {
  width: 600px;
  height: 600px;
}

.App, .loading, .tours {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 98%;
}

  .title {
    font-size: 2rem;
    text-align: center;
  }

  .App h1 {
    margin-top: 25%;
  }

  .refresh {
    margin: 0 auto;
    font-size: 2.5rem;
    background-color: lightblue;
    border-radius: 5%;
    padding: 3%;
    margin: 15%;
  }

.tour {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  width: 100%;
  border-radius: 2%;
  margin-top: 2%;
  margin-bottom: 50%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}
  .tour img {
    width: 100%;
    border-radius: 2%;
    max-height: 30rem;
  }
  .tour-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
  }
    .tour-name, .tour-price {
      margin: 0 auto;
      font-size: 1.6rem;
    }

  .tour p {
    text-align: justify;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 0;
    width: 90%;
  }
    .tour p button {
      background-color: transparent;
      border: none;
      color: blue;
      font-size: 1.25rem;
      line-height: 1.75rem;
      text-align: start;
      padding: 0;
      padding-left: 2%;
    }
  
  .tour button {
    margin-bottom: 2%;
    padding: 1%;
    border: solid red 1px;
    color: red;
    background-color: transparent;
    border-radius: 2%;
    font-size: 1.5rem;
  }



@media (max-width: 1024px) {
  #root {
    width: 560px;
    height: 560px;
  }

  html {
    font-size: 7px;
  }
}

@media (max-width: 768px) {
  #root {
    width: 420px;
    height: 420px;
  }
}

@media (max-width: 576px) {
  #root {
    width: 350px;
    height: 350px;
  }

  html {
    font-size: 6px;
  }
}

@media (max-width: 425px) {
  #root {
    width: 240px;
    height: 240px;
  }

  html {
    font-size: 4px;
  }
}